* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 60px;
    background-color: #EFEFEF;
    display: flex;

    .logoNav {
        width: 30%;

        img {
            margin-left: 15px;
            height: 60px;
        }
    }

    nav {
        width: 40%;
        display: flex;
        align-items: center;

        .tabs {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            a {
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }

    .divBag {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 30%;

        .bag {
            margin-right: 20px;
        }
    }
}