@font-face {
    font-family: HelveticaNow;
    src: url(/public/fonts/HelveticaNowDisplay-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    padding: 0;
    margin: 0;
}

.col {
    padding: 0;
    margin: 0;
}

a { 
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

// header {
//     width: 100%;
//     height: 75px;
//     // background-color: #EFEFEF;
//     background-color: #444444;
//     // background-color: black;
//     display: flex;
//     flex-direction: row;
//     align-items: center;

.navbar {
    height: 75px;
    background-color: #444444;
}

.logoNav {
    width: 25%;

    img {
        margin-left: 15px;
        height: 60px;
    }
}

// .pestañas {
//     text-transform: uppercase;
//     text-decoration: none;
//     // height: 75px;
//     // color: #2e2c4b;
//     // color: rgba(0,0,0,.5);
//     color: white;
//     font-family: HelveticaNow;

//     p:hover {
//         opacity: 0.7;
//         transition: opacity 0.3s;
//         cursor: pointer;
//     }
// }

// .pestañas:hover {
//     color: #FFFFFF;
// }

.active {
    color: #444444;
    background-color: #FFFFFF;
}

// .menu-area {
//     position: static;
// }

// .mega-area {
//     position: absolute;
//     width: 100%;
//     left: 0;
//     right: 0;
//     transition: all 0.5s;
// }

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #FFFFFF;
    border: none;
    border-radius: 0;
}

.categories {
        color: white;
        text-transform: uppercase;
        font-family: HelveticaNow;
}

.categories:hover {
    color: #C7C7C7;
}

// .divLinks {
//     height: 200px;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;

//     ul li {
//         list-style: none;

//         a {
//             text-decoration: none;
//             font-family: HelveticaNow;
//             color: #000;
//             text-transform: uppercase;
//         }

//         a:hover {
//             text-decoration: underline;
//             opacity: 0.8;
//             transition: all 0.3s;
//         }
//     }
// }

.buscador {
    background-color: #696969;
    border: none;
    font-family: HelveticaNow;
    text-transform: uppercase;
}

.buscador:focus {
    background-color: #696969;
}

// nav {
//     width: 75%;
//     display: flex;
//     flex-direction: row;

//     .tabs {
//         width: 65%;
//         display: flex;
//         justify-content: space-evenly;

//         a {
//             text-transform: uppercase;
//             text-decoration: none;
//             // color: #2e2c4b;
//             // color: rgba(0,0,0,.5);
//             color: white;
//             font-family: HelveticaNow;
//         }
//     }

//     .cartWidget {
//         width: 35%;
//         display: flex;
//         flex-direction: row;
//         justify-content: flex-end;
//         padding-right: 70px;
//     }
// }
// }

.itemListContainer {
    width: 100%;
    height: auto;

    h1 {
        text-align: center;
        text-transform: uppercase;
        color: #444;
        font-family: HelveticaNow;
        font-weight: 700;
        font-size: 64px;
    }

    .hero {
        width: 100%;
        height: 400px;
    }

    .loading {
        margin-top: 30vh;
    }
}

.detailSection {
    border: 1px solid #e7e9ee;
    border-radius: 10px;
    box-shadow: 2px 5px 5px 5px #e7e9ee;
}

// .card {
// width: 50%;
// margin-right: auto;
// margin-left: auto;
// margin-top: 50px;
// padding: 50px 0px;
// display: flex;
// flex-direction: row;
// border: 1px solid #e7e9ee;
// border-radius: 10px;
// box-shadow: 2px 5px 5px 5px #e7e9ee;

// .detailCard {
//     h3 {
//         margin-top: 30px;
//     }

//     .controls {
//         width: 200px;
//         margin-top: 30px;
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;

//         button {
//             width: 30px;
//         }
//     }

//     .checkout {
//         margin-top: 20px;
//         width: 200px;
//         height: 30px;
//     }
// }
// }